/** Below are Css, some inspiration are from simple.css **/
* {
  /* Set sans-serif & mono fonts */
  sans-font: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir,
    "Nimbus Sans L", Roboto, "Noto Sans", "Segoe UI", Arial, Helvetica,
    "Helvetica Neue", sans-serif;
  mono-font: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  standard-border-radius: 5px;

  /* Default  theme */
  background: #1a43bf;
  accent-bg: #0a2472;
  text: #000000;
  text-light: #585858;
  border: #898EA4;
  accent: #0d47a1;
  accent-hover: #1266e2;
  accent-text: var(--bg);
  code: #d81b60;
  preformatted: #444;
  marked: #ffdd33;
  disabled: #efefef;
}

/* Reset default appearance */
textarea,
select,
input,
progress {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

html {
  /* Set the font globally */
  font-family: var(--sans-font);
  scroll-behavior: smooth;
}

/* classes goes below */

.container {
  background: #ffffff;
  padding: 25px;
  width: 550px;
  border-radius: 10px;
}